<div class="container content page">
	<span style="display: block; margin-bottom: 3em"></span>
	<p style="text-align:center">
  Institute for Biological and Medical Engineering at Pontificia Universidad Catolica de Chile<br>
	San Joaquin Campus - Ave Vicuña Mackenna 4860, Macul, Santiago, Chile
	</p>
    <span style="display: block; margin-bottom: 3em"></span>
    <p style="text-align:center">
      <a href="https://github.com/librehub"><i class="fa fa-github"></i></a>&nbsp;&nbsp;&nbsp;
      <a href="https://www.youtube.com/channel/UCKaffupDA8KKrDE0rd668Xw"><i class="fa fa-youtube"></i></a>&nbsp;&nbsp;&nbsp;
      <a href="https://www.linkedin.com/company/librehub/"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;&nbsp;
      <a href="mailto:librehub@uc.cl"><i class="fa fa-envelope-o"></i></a>&nbsp;&nbsp;&nbsp;
    </p>
</div>
